---
import CutCornerButton from "@components/CutCornerButton"
import InteriorContent from "@components/InteriorContent.astro"
import InteriorHero from "@components/InteriorHero.astro"
import DefaultLayout from "@layouts/Default.astro"
---

<DefaultLayout
	title="Contact Us"
	description="We're here to help and answer any questions you may have. Reach out to us to learn more about our services, get support, or to apply for positions"
>
	<InteriorHero>
		<p
			class="text-center font-extrabold uppercase tracking-wider text-zinc-500"
		>
			Let&apos;s Talk
		</p>
		<h1
			class="mt-4 text-center font-heading text-5xl font-black md:text-6xl lg:text-7xl"
		>
			Contact Us
		</h1>
		<p
			class="mx-auto mt-6 max-w-xl text-center text-xl text-zinc-400 md:text-2xl"
		>
			We&apos;re here to help and answer any questions you may have. Reach out
			to us to learn more about our services, get support, or to apply for
			positions
		</p>
	</InteriorHero>

	<InteriorContent>
		<div class="mx-auto max-w-xl pb-[1000px]">
			<h2 class="font-heading text-3xl font-black">
				What can we help you with?
			</h2>

			<form class="mt-8 flex flex-col">
				<label>Name</label>
				<input type="text" name="name" id="name" />
				<label class="mt-4">Email</label>
				<input type="email" name="email" id="email" />
				<label class="mt-4">Message</label>
				<textarea name="message" id="message"></textarea>
				<CutCornerButton className="mt-4">Send Message</CutCornerButton>
			</form>
		</div>
	</InteriorContent>
</DefaultLayout>
